<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header>
            <h1>iFrames</h1>
        </header>

        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>

        <section>
            <h2>iFrames</h2>

            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://fidelitas.ac.cr"
                        height="400"
                        width="1200">
                </iframe>
            </article>

            <article>
                <h3>YouTube</h3>
                <iframe width="1236"
                        height="695"
                        src="https://www.youtube.com/embed/yg5KIxTMIxY"
                        title="ENOCOY en ESPAÑOL - Juega y Bucea en la Piscina">
                </iframe>
            </article>

            <article>
                <h3>Ubicación</h3>
                <iframe src="https://www.google.com/maps/embed?pb=...">
                </iframe>
            </article>

        </section>

        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>

    </body>
</html>