<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <header>
            <nav>
                <a class="logo" href="/">TechShop</a>

                <div class="menu">
                    <a href="/ejemplo2">Mis Autos</a>
                    <a href="/multimedia">Multimedia</a>
                    <a href="/iframes">iFrames</a>
                </div>
            </nav>
        </header>

        <aside>
        </aside>

        <section>
            <h2>Esta es la tienda en línea del curso</h2>
        </section>

        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>

    </body>
</html>